{% extends 'base.html.twig' %}

{% block title %}La Boutique Française - Modifier le mot de passe{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>

    <a href="{{ path('account') }}">Retourner à mon compte</a>
    <hr>
    {% if notification is defined %}
    <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}

{% endblock %}